1 ICON "..\\assets\\MemoryCleaner.ico"
1 24 "memclean.manifest"
2 RCDATA "..\\assets\\cap512.png"

1 VERSIONINFO
FILEVERSION 0,2,1,0
PRODUCTVERSION 0,2,1,0
FILEOS 0x40004L
FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404b0"
    BEGIN
      VALUE "CompanyName", "Kirun-Linser"
      VALUE "FileDescription", "Castling\n清系统文件缓存、刷新已修改页、清空备用内存、压缩进程工作集\n以管理员权限使用可获得最大程度上的清理"
      VALUE "FileVersion", "0.2.1.0"
      VALUE "InternalName", "Castling"
      VALUE "OriginalFilename", "Castling.exe"
      VALUE "ProductName", "Castling"
      VALUE "ProductVersion", "0.2.1.0"
      VALUE "Comments", "以管理员权限使用可获得最大程度上的清理"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x804, 1200
  END
END
